body {
}

h1 {
    text-align: center;
}

button {
    margin-left: 450px;
    margin-right: 450px;
}



.exampleInputEmail1 {
    padding-left: 300px;
}

.form-group {
    margin-left: 450px;
    margin-right: 450px;
}

.register {
    margin-left: 450px;
    margin-right: 450px;
}
.register-link {
    margin-left: 600px;
    margin-right: 450px;
}
