

h1 {
    text-align: center;
}
button {
    margin-left: 450px;
    margin-right: 450px;
}

p {
    color: black;
}

.exampleInputEmail1 {
    padding-left: 300px;
}

.form-group {
    align-items: center;
    margin-left: 450px;
    margin-right: 450px;
}

.register {
    margin-left: 450px;
    margin-right: 450px;
    color: yellow;
}

.register-link {
    margin-left: 600px;
    margin-right: 450px;
    color: yellow;
}



