body {
}

h1 {
    text-align: center;
}

small {
    color: black;
    background-color: white;
}

.form {
    margin-left: 450px;
    margin-right: 0px;
    
}

.form-group {
    width: 300px;
}
.small {
    color: black;
    background-color: aliceblue;
}

.parent {
}

.child {
    display: inline-block;
    width: 400px;
}

.error {
    margin-left: 450px;
    margin-right: 450px;
}



