body {
}

h1 {
    text-align: center;
}


small {
    color: black;
    background-color: white;
}


.child {
    display: inline-block;
    width: 400px;
}

.error {
    margin-left: 450px;
    margin-right: 450px;
}
